.container{
    display: flex;
    flex-direction: column;
    gap: 10px; /*범위안에 있는 모든 객체들간의 높이 차이*/
}

.cover_img_container{
    display: flex;
    justify-content: center;
    padding: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
}

.cover_img_container::before{
     /* 스타일링이나 어떠한 요소에 데코레이션을 넣어주기 위해 :: 라는 가상요소를 만드는 방식*/
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    content:"";
}

.cover_img_container>img{
    z-index: 1;
    max-height: 350px;
    height: 100%;
}
.title{
    font-size: large;
    font-weight: bold;
}
.subTitle{
    font-size: medium;
    font-weight: bold;
}

.description{
    line-height: 1.3;
    white-space: pre-line;
}